.z-tabs {

  &__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
    height: var(--gutter-2xl);
    justify-content: left;
    overflow: hidden;
    gap: var(--gutter-xs);
    padding: 0 var(--gutter-xs);
    align-items: end;

    &__item {
      padding: var(--gutter-xs) var(--gutter-m);
      cursor: pointer;
      user-select: none;
      transition: border 0.3s ease-in-out;
      position: relative;
      bottom: -1px;
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 0.05rem;
      font-weight: bold;
      box-shadow: var(--elevation-2);
      border-top-left-radius: var(--gutter-2xs);
      border-top-right-radius: var(--gutter-2xs);
      transition: padding 200ms;
      background-color: var(--grey-95);

      &:hover {
        padding-bottom: var(--gutter-m);
      }

      &[aria-selected] {
        font-weight: 700;
        color: var(--brand-orange);
        background-color: var(--grey-100);
        border-top-left-radius: var(--gutter-2xs);
        border-top-right-radius: var(--gutter-2xs);
        box-shadow: var(--elevation-4);
        z-index: 10;
      }

      &[aria-disabled] {
        cursor: not-allowed;
        color: var(--grey-55);
      }
    }
  }

  &__content {
    box-shadow: var(--elevation-4);
    background-color: var(--grey-100);
    border-bottom-left-radius: var(--gutter-2xs);
    border-bottom-right-radius: var(--gutter-2xs);
    padding: var(--gutter-m);
    margin: 0 var(--gutter-xs);
    transform: translateY(0);
  }
}