:host {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  height: 300px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

slot {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--logo-background-color, white);
  border-radius: 50%;
  inset-block-start: 16px;
  inset-inline-start: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

::slotted(img) {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

header {
  background-color: var(--primary-color, #ff0024);
  color: var(--on-primary-color, white);
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-block-start: 8px;
  font-weight: normal;
}

main {
  display: grid;
  color: var(--on-bg-color, black);
  height: 100%;
}

.text {
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin: 0;
}